<body class="white">
    <main>
        <h1>Load your events</h1>
        <p>To show your saved event please enter your key.</p>
        <form action="">
            <h2>Enter your key</h2>
            <label>Enter your key:<input type="text"></label>
            <input type="submit" value="Submit">
        </form>
        <a href="/create">Continue</a>
    </main>
</body>