<div>
    <nav>
        <a href="/">Go back to homepage</a>
    </nav>
    <main>
        <h1>Load your saved events</h1>
        <p>To show your saved event please enter your key.</p>
        <form action="/key" method="POST">
            <h2>Enter your key</h2>
            <label><span>Type in your key here:</span><input type="text" name="key"></label>
            <input type="submit" value="Load events">
        </form>
    </main>
</div>