<body class="white">
    <header>
        <figure><img src="/images/setrack-logo.png" alt="The letter &quot;S&quot; with a tail going straight up. It's divided into 5 sections showing the following colors from start to tail: blue, green, purple, orange and pink."><figcaption>Setrack logo</figcaption></figure>
        <h1>Setrack</h1>
        <p>Track a sporting event yourself, save it and share it.</p>
    </header>
    <nav>
        <ul>
            <li><a href="enter-key">Show saved events</a></li>                
            <li><a href="key">Create new sporting event</a></li>
          </ul>
    </nav>
</body>
