<body class="white">
    <main>
        <h1>Save events</h1>
        <p>If you want to come back at a later date and have your events saved, you can save the following key.</p>
        <h2>Your key:</h2>
        <input type="text" value={{key}} readonly="readonly">
    </main>
    <nav>
        <a href="/create">Continue</a>
    </nav>
</body>