<div>
    <nav>
        <a href="/">Go back to homepage</a>
    </nav>
    <main>
        <h1>Save events</h1>
        <p>If you want to come back at a later date and have your events saved, you can save the following key.</p>
        <h2>Your key</h2>
        <p>{{key}}</p>
    </main>
    <nav>
        <a href="/create">Continue <span>to create event page</span></a>
    </nav>
</div>